* {
	background-color: #FFB6C1;
}

p {
	color: black;
	font-family: Monotype Corsiva;
	text-align: center;
	font-size: 30px;
}

form {
	text-align: center;
	display: inline-block;

}

h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
}

#main_div {
	text-align: center;
	position: absolute;
	margin-right: 15%;
	margin-left: 15%;
}

.content {
	position: relative;
}

#button {
	border: 2px outset black;
	border-radius: 5px;
	background-color: gray;
	height: auto;
	width: 70px;
	text-align: center;
	margin-left: 99%;
	margin-top: -17.5%;
}


	



