* {
	background-color: white;
}

p {
	color: black;
	font-family: Helvetica;
	text-align: center;
	font-size: 30px;
}

form {
	text-align: center;
	display: inline-block;

}

h1 {
	font-family: Helvetica;
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
}

#databox {
	border-radius: 1px;
	border: 2px solid grey;
	background-color: white;
	height: 150px;
	width: 480px;
	margin-right: 15%;
	margin-left: 25%;
	text-align: center;
}

#image{
	content: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZsHtUvbWKp_rdOgsWi4U9HvEMfZVv8nEtsiW3HEJZMFJT4R-qHg);
	border-radius: 1px;
	border: 1px solid grey;
	background-color: white;
	height: 150px;
	width: 150px;
	margin-left: 0%;
	text-align: center;
}

#title{
	position: relative;
	border-radius: 1px;
	border: 1px solid grey;
	border-bottom: none;
	padding-left: 3px;
	padding-top: 3px;
	background-color: white;
	height: 27px;
	width: 325px;
	margin-left: 31.5%;
	margin-top: -32%; 
	text-align: left;
	font-family: Ariel;
	font-size: 16px;
	font-weight: bold;
}	

#link{
	position: relative;
	border-radius: 1px;
	border: 1px solid grey;
	border-top: none;
	border-bottom: none;
	background-color: white;
	height: 22px;
	width: 325px;
	margin-top: 0%;
	margin-left: 31.5%;
	text-align: left;
	color: black;
	font-size: 10px;
	font-family: Ariel;
	text-decoration: underline;
	padding-left: 3px;
}

#text{
	position: relative;
	border-radius: 1px;
	border: 1px solid grey;
	border-top: none;
	border-bottom: none;
	background-color: white;
	height: 100px;
	width: 325px;
	margin-top: -0.5%;
	margin-left: 31.5%;
	text-align: left;
	font-size: 14px;
	font-family: Ariel;
	padding-left: 3px;
}


#button {
	border: 2px outset black;
	border-radius: 5px;
	background-color: gray;
	height: auto;
	width: 70px;
	text-align: center;

	margin-left: 99%;
	margin-top: -17.5%;



}


	



